


.diet-container {
    text-align: center;
  }
  
  .slick-list {
    margin-bottom: 80px; /* Add some margin at the bottom to prevent overlap */
  }
  
  .slick-track {
    display: flex;
  }
  
  .carousel-item {
    padding: 10px;
    margin: 3px 5px; /* Adjust this value to control horizontal spacing */
    border-radius: 50%;
  }
  
  .diet-heading {
    color: #fe9e0d;
    font-family: cursive;
  }

  .category-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .recipe-card {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 15px;
    height: 80px; /* Fixed height */
    width: calc(100% - 20px); /* Stretch across the screen width */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .recipe-image {
    width: 100%;
    height: 100%; /* Ensure the image takes up the full height of the container */
    border-radius: 5px;
    object-fit: cover;
  }
  
  .recipe-details {
    margin-top: 10px;
  }
  
  .view-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .view-button:hover {
    background-color: #2980b9;
  }
  